@model IEnumerable<RentalProperties.Models.Apartment>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "List of Apartments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Apartments</h1>


<div class="d-flex justify-content-between">
    @if ((await AuthorizationService.AuthorizeAsync(User, "CantBeTenant")).Succeeded)
    {
        <p>
            <a asp-action="Create">Create New Apartment</a>
        </p>
    }
    <p>
        <a asp-action="Index">Show All Apartments</a>
    </p>
</div>
<form method="get" asp-action="Search">
    <dl class="row">
        <dt class="col-sm-2">
            Select Moving Date
        </dt>
        <dd class="col-sm-2">
            <input type="date" name="queryMDate" class="form-control"></input>
        </dd>
        <dd class="col-sm-4">
            <button class="btn btn-outline-secondary" type="submit" id="button-filter">Filter Available Apartments</button>
        </dd>
    </dl>
    @if (ViewBag.Filters != null){
        <div class="text-danger"> @ViewBag.Filters </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Property)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbOfBeds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbOfBaths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbOfParkingSpots)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceAnnounced)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnimalsAccepted)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color:lightgray">
                <td></td>
                <td>
                    <select name="queryProperty" class="form-control" asp-items="ViewBag.Properties">
                        <option value="All">All</option>
                    </select>
                </td>
                <td>
                </td>
                <td>
                    <select name="queryNbBed" class="form-control">
                        <option value="All">All</option>
                        <option value="0">Studio</option>
                        <option value="0+">Studio +</option>
                        <option value="1">1</option>
                        <option value="1+">1 +</option>
                        <option value="2">2</option>
                        <option value="2+">2 +</option>
                        <option value="3">3</option>
                        <option value="3+">3 +</option>
                    </select>
                </td>
                <td>
                    <select name="queryNbBath" class="form-control">
                        <option value="All">All</option>
                        <option value="1">1</option>
                        <option value="1+">1 +</option>
                        <option value="2">2</option>
                        <option value="2+">2 +</option>
                    </select>
                </td>
                <td>
                    <select name="queryNbParking" class="form-control">
                        <option value="All">All</option>
                        <option value="1">1</option>
                        <option value="1+">1 +</option>
                        <option value="2">2</option>
                        <option value="2+">2 +</option>
                    </select>
                </td>
                <td>
                    <input type="number" name="queryMinPrice" placeholder="Min Price" class="form-control">
                    <input type="number" name="queryMaxPrice" placeholder="Max Price" class="form-control">
                </td>
                <td>
                    <select name="queryAnimals" class="form-control">
                        <option value="whatever">I don't care if there are animals in building'</option>
                        <option value="true">I need the building to accept animals</option>
                        <option value="false">I don't want animals in the building'</option>
                    </select>
                </td>
                <td></td>
            </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="/images/@item.PropertyId/@item.ApartmentId/1.jpg" alt="Foto do Apartamento" style="width:150px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbOfBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbOfParkingSpots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceAnnounced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalsAccepted)
            </td>
            <td>
                @{
                    var authNotTenant = (await AuthorizationService.AuthorizeAsync(User, "CantBeTenant")).Succeeded; 
                }
                @if (authNotTenant)
                {<a asp-action="Edit" asp-route-id="@item.ApartmentId">Edit</a>
                <text> | </text> }
                @if (authNotTenant)
                {<a asp-action="Details" asp-route-id="@item.ApartmentId">Details</a>
                <text> | </text> }
                @if (authNotTenant)
                {<a asp-action="Delete" asp-route-id= "@item.ApartmentId">Delete</a>}
                @{
                    var authTenant = (await AuthorizationService.AuthorizeAsync(User, "MustBeTenant")).Succeeded;
                }
                @if (authTenant)
                {
                    <a asp-controller="MessageFromTenants" asp-action="Create" asp-route-apartmentId="@item.ApartmentId">Talk to Manager</a>
                    <text> | </text>
                    <a asp-controller="Appointments" asp-action="Create" asp-route-apartmentId="@item.ApartmentId">Ask for a visit</a>

                }
            </td>
        </tr>
}
    </tbody>
</table>
</form>
