@model RentalProperties.Models.MessageFromTenant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MessageFromTenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment.ApartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerFromManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerFromManager)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
