@model RentalProperties.Models.ConversationWithMessages
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Messages</h2>
<h4>Apartment @ViewBag.apNb, Property @ViewBag.PropName</h4>
<a asp-controller="Conversations" asp-action="Index">View All Conversations</a>
<div class="w-100 d-flex flex-column justify-content-center align-items-center message_box p-1" id="messageBox" style="height:65vh;">
    <div class="w-75 d-flex flex-column align-self-center overflow-auto p-2" id="messageBox" style="height:100%; background-color:#f0f0f0">
        @foreach (var item in Model.AllMessages)
        {
            string userFullName = User.Identity.Name;
            string author = $"{item.AuthorName} wrote: ";
            string date = $"{item.DateSent.ToString("dd-MMM")}, at {item.DateSent.ToString("HH: mm")}";
           if (userFullName == item.AuthorName)
            {

                <p class="lh-1 m-0 text-end text-author-message">@date</p>
                <p class="lh-1 m-0 text-end text-author-message">@author</p>
                <div class="m-1 w-auto align-self-end fs-6 text-end px-3 py-1 rounded-pill max-width-75" style="background-color:#FFADB5">
                    
                    @Html.DisplayFor(modelItem => item.MessageSent)
                </div>
            }
            else
            {
                <p class="lh-1 m-0 text-start text-author-message">@date</p>
                <p class="lh-1 m-0 text-start text-author-message">@author</p>
                <div class="m-1 w-auto align-self-start fs-6 text-start px-3 py-1 rounded-pill max-width-75" style="background-color:#FFFCEF">
                    @Html.DisplayFor(modelItem => item.MessageSent)
                </div>
            }
        }
        
    </div>
    <div class="w-75" id="newMessage">
        @{
            await Html.RenderPartialAsync("NewMessage", Model.newMessage);
        }
    </div>
</div>




