@model IEnumerable<RentalProperties.Property>

@{
    ViewData["Title"] = "List of Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Properties</h1>

<p>
    <a asp-action="Create">Create New Property</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighbourhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Neighbourhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.FullName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var item in Model)
{
    <h3 class="d-inline">@Html.DisplayFor(modelItem => item.PropertyName)</h3>
    <span>
        <a asp-action="Edit" asp-route-id="@item.PropertyId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.PropertyId">Details</a> | 
        <a asp-action="Delete" asp-route-id="@item.PropertyId">Delete</a>
    </span>
    <br/>
    <span class="fw-bold">@Html.DisplayNameFor(model => model.Manager): </span>
    <span>@Html.DisplayFor(modelItem => item.Manager.FullName)</span>
    <br/>
    <span class="fw-bold">Address: </span>
    <span>
        @Html.DisplayFor(modelItem => item.AddressNumber) @Html.DisplayFor(modelItem => item.AddressStreet), @Html.DisplayFor(modelItem => item.City)
    </span>
    <br />
    <span class="fw-bold">Postal Code: </span>
    <span>
        @Html.DisplayFor(modelItem => item.PostalCode)
    </span>
    <br/>
    <span class="fw-bold">Neighbourhood: </span>   
        @if (item.Neighbourhood != null) 
            {
                <span>
                    @Html.DisplayFor(modelItem => item.Neighbourhood)
                </span>
            }
        else 
            {
                <span>Not Available</span>
            }
    var listOfApartments = item.Apartments.ToList();
    <br/>
    <h5 class="d-inline">Apartments in Building</h5>
    <span>
        <a asp-controller="Apartments" asp-action="Create" asp-route-propertyId ="@item.PropertyId">Add</a>
    </span>
    <table class="table centered-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Apartments.FirstOrDefault().ApartmentNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var ap in listOfApartments)
        {     
            <tr>
                <th>
                    @Html.DisplayFor(model => ap.ApartmentNumber)
                </th>
                <td>
                    <a asp-controller="Apartments" asp-action="Edit" asp-route-id="@ap.ApartmentId">Edit</a> |
                    <a asp-controller="Apartments" asp-action="Details" asp-route-id="@ap.ApartmentId">Details</a> |
                    <a asp-controller="Apartments" asp-action="Delete" asp-route-id="@@ap.ApartmentId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <hr />
}    

