@model RentalProperties.Models.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment.Property)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Property.PropertyName)
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Property.AddressNumber), @Html.DisplayFor(model => model.Apartment.Property.AddressStreet), @Html.DisplayFor(model => model.Apartment.Property.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Apartment.ApartmentNumber)
        </dd>
        <dd class="col-sm-8">
            <a asp-controller="MessageFromTenants" asp-action="Create" asp-route-apartmentId="@Model.Apartment.ApartmentId">Send a Message to the Manager</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
