@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<RentalProperties.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Appointments</h1>

<p>
    <a asp-action="Create">Schedule a New Appointment</a>
    @if ((await AuthorizationService.AuthorizeAsync(User, "CantBeTenant")).Succeeded)
    {
    <text> | </text>
    <a asp-controller ="ManagerSlots" asp-action = "Index">Manage Available Slots</a>
    }
    
</p>
<h4>Next Appointments</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.VisitDate >= DateTime.Now)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Property.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
    }      
}
    </tbody>
</table>

<h4>Past Appointments</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.VisitDate < (DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenant.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.Property.PropertyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
